certifi==2020.6.20
chardet==3.0.4
click==7.1.2
#fastapi==0.61.1
h11==0.11.0
idna==2.10
opencensus==0.11.0
opencensus-context==0.1.3
opencensus-ext-azure==1.1.1
#pydantic==1.6.1
#requests==2.27.1
#starlette==0.13.6
urllib3==1.26.0
#uvicorn==0.12.1
black==20.8b1
pre-commit==2.7.1
#jio-health-toolkit-logging==0.1.16
#aiohttp==3.8.1
azure-eventhub==5.7.0
azure-eventhub-checkpointstoreblob-aio==1.1.4
simplejson==3.17.6
retry==0.9.2
SQLAlchemy==1.4.35
PyMySQL==1.0.2
redis==4.1.4
pycryptodome==3.15.0
azure-servicebus==7.8.0
aiofiles==23.2.1

#TestReq
appdirs==1.4.4
attrs==20.2.0
#beautifulsoup4==4.9.3
cfgv==3.2.0
coverage==5.3
#distlib==0.3.1
httpx==0.23.0
trio==0.22.0
asynctest==0.13.0
pytest-aiohttp==1.0.4
pytest-cov==2.10.1
#filelock==3.0.12
identify==1.5.5
iniconfig==1.0.1
#jio-health-toolkit-hacks-python==0.0.1
mypy-extensions==0.4.3
nodeenv==1.5.0
packaging==20.4
pathspec==0.8.0
pluggy==0.13.1
py==1.9.0
pyparsing==2.4.7
pytest==7.0.1
pytest-azurepipelines==0.8.0
PyYAML==5.3.1
regex==2020.10.11
six==1.15.0
soupsieve==2.0.1
toml==0.10.1
typed-ast==1.4.1
#virtualenv==20.0.33
#azure-storage-blob==12.11.0
azure-identity==1.11.0
azure-storage==0.33.0
azure-core
typing-extensions
aiounittest~=1.4.2
opentelemetry-distro
opentelemetry-exporter-otlp